body {
    background-color: black;
}

/* Custom styles for the dropdown menu */
/* .dropdown-menu {
    background-color: #343a40;
} */

.dropdown-menu li {
    color: #fff;
    /* Text color */
}

.dropdown-menu.bg-dark .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent black */
}

.dropdown-menu.bg-dark .dropdown-item {
    color: white;
    /* Text color */
}


.dropdown-menu.bg-dark .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
    /* Adjust opacity as needed */
}

/* Additional CSS styles can be added here */
.btn-dark {
    border-color: white;
    /* Set border color for dark buttons */
}

/* Override Bootstrap button hover, focus, and active styles */
.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    background-color: #343a40 !important; /* Set background color on hover, focus, and active */
    border-color: white !important; /* Set border color on hover, focus, and active */
    color: white !important; /* Set text color on hover, focus, and active */
    box-shadow: none !important; /* Remove box shadow on hover, focus, and active */
}

#searchResults {
    max-height: 200px; /* Adjust the height as needed */
    overflow-y: auto; /* Enable vertical scrolling */
}

/* Scrollbar Track */
#searchResults::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
    background-color: #343a40 ;
    border-radius: 3px;
}

/* Handle */
#searchResults::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.1); /* Color of the scrollbar handle */
    border-radius: 6px; /* Rounded corners */
    
}

/* Handle on hover */
#searchResults::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.7); /* Darker color on hover */
}








