body{
    background-color: black;
}

/* Custom styles for the dropdown menu */
.dropdown-menu {
    background-color: #343a40; /* Dark background color */
}

.dropdown-menu li {
    color: #fff; /* Text color */
}

.dropdown-menu.bg-dark .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
}

.dropdown-menu.bg-dark .dropdown-item {
    color: white; /* Text color */
}

.dropdown-menu.bg-dark .dropdown-item:hover {
    background-color: rgba(0, 0, 0, 0.2); /* Adjust opacity as needed */
}

